ESB2SAP/Description/WSDL/AccountTicketService-v1_0.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  targetNamespace="http://bls.ch/tap/contract/AccountTicket/v1"
  xmlns:tns="http://bls.ch/tap/contract/AccountTicket/v1"
  xmlns:ctx="http://bls.ch/tap/schema/TicketAccountingRecord/v1">
  
  <wsdl:documentation>AccountTicketService</wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
      targetNamespace="http://bls.ch/tap/contract/AccountTicket/v1">
      <xsd:import namespace="http://bls.ch/tap/schema/TicketAccountingRecord/v1"
                  schemaLocation="TicketAccountingRecord-v1_0.xsd" />
      
      <xsd:element name="AccountTicketMsg" type="tns:AccountTicketType" />
      <xsd:element name="AccountTicketMsgResponse" type="tns:AccountTicketResponseType" />
      
      <xsd:complexType name="AccountTicketType">
        <xsd:sequence>
          <xsd:element name="AccountTicket" type="ctx:TicketAccountingRecordType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountTicketResponseType">
        <xsd:sequence>
          <xsd:element name="AccountTicket" type="ctx:TicketAccountingRecordResponseType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AccountTicketMsg">
    <wsdl:part name="parameters" element="tns:AccountTicketMsg"/>
  </wsdl:message>
  <wsdl:message name="AccountTicketMsgResponse">
    <wsdl:part name="parameters" element="tns:AccountTicketMsgResponse"/>
  </wsdl:message>
  <wsdl:portType name="AccountTicketServicePortType">
    <wsdl:operation name="AccountTicket">
      <wsdl:input message="tns:AccountTicketMsg"/>
      <wsdl:output message="tns:AccountTicketMsgResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountTicketServiceSOAP11Binding" type="tns:AccountTicketServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountTicket">
      <soap:operation style="document" soapAction="http://bls.ch/tap/contract/AccountTicketService/AccountTicket" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountTicketService">
    <wsdl:port name="AccountTicketServiceSOAP11port_http" binding="tns:AccountTicketServiceSOAP11Binding">
      <soap:address location="http://127.0.0.1:8280/services/AccountTicketService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>