ESB2SAP/Description/WSDL/TicketAccountingService-v1_0.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  targetNamespace="http://bls.ch/tap/contract/TicketAccounting/v1"
  xmlns:tns="http://bls.ch/tap/contract/TicketAccounting/v1"
  xmlns:ctx="http://bls.ch/tap/schema/TicketAccountingRecord/v1">
  
  <wsdl:documentation>TicketAccountingService</wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
      targetNamespace="http://bls.ch/tap/contract/TicketAccounting/v1">
      <xsd:import namespace="http://bls.ch/tap/schema/TicketAccountingRecord/v1"
                  schemaLocation="TicketAccountingRecord-v1_0.xsd" />
      
      <xsd:element name="TicketAccountingMsg" type="tns:TicketAccountingType" />
      <xsd:element name="TicketAccountingMsgResponse" type="tns:TicketAccountingResponseType" />
      
      <xsd:complexType name="TicketAccountingType">
        <xsd:sequence>
          <xsd:element name="TicketAccounting" type="ctx:TicketAccountingRecordType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TicketAccountingResponseType">
        <xsd:sequence>
          <xsd:element name="TicketAccounting" type="ctx:TicketAccountingRecordResponseType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TicketAccountingMsg">
    <wsdl:part name="parameters" element="tns:TicketAccountingMsg"/>
  </wsdl:message>
  <wsdl:message name="TicketAccountingMsgResponse">
    <wsdl:part name="parameters" element="tns:TicketAccountingMsgResponse"/>
  </wsdl:message>
  <wsdl:portType name="TicketAccountingServicePortType">
    <wsdl:operation name="TicketAccounting">
      <wsdl:input message="tns:TicketAccountingMsg"/>
      <wsdl:output message="tns:TicketAccountingMsgResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicketAccountingServiceSOAP11Binding" type="tns:TicketAccountingServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TicketAccounting">
      <soap:operation style="document" soapAction="http://bls.ch/tap/contract/TicketAccountingService/TicketAccounting" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketAccountingService">
    <wsdl:port name="TicketAccountingServiceSOAP11port_http" binding="tns:TicketAccountingServiceSOAP11Binding">
      <soap:address location="http://127.0.0.1:8280/services/TicketAccountingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>